
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserPackage</title>
    <h1>Great Journey</h1>
    <h2>Congratulations,You selcted your package</h2>
</head>
<body>
    <div> 
    </div>
</body>
</html>
