@model IEnumerable<Tourism_1.Models.City>

@{
    ViewBag.Title = "GetCities ";
}

<div class="hotel-bg">
    <h2 class="places">Cities</h2>

    <p>

        @Html.ActionLink("Add new city", "Add_New_City", "City", htmlAttributes: new { @class = "btn btn-primary add-hotel h-add" })
    </p>
    <table class="table table-hover table-bordered tab-hotel" style="background-color:whitesmoke">
        <tr style="background-color:gray">
            <th>
                <label>City</label>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CityName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CityId }, htmlAttributes: new { @class = "btn btn-primary add-hotel h-edit" })
                    @*@Html.ActionLink("Details", "Details", new { id = item.CityId }, htmlAttributes: new { @class = "btn btn-primary btn-smm btn-cities" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CityId })*@
                </td>
            </tr>
        }

    </table>
    </div>
