
@{
    ViewBag.Title = "NoCity";
}

<div class="no-city">
    <h1 class="city-no">Sorry , Currently we are not available for this city.</h1>
    <h2 class="city-no">But we will plan for sure.</h2>
    @Html.ActionLink("Back to home page", "Index", "Home", new { }, htmlAttributes: new { @class = "btn btn-primary buttons" })
</div>

