@{
    ViewBag.Title = "About";
}
<div class="n-city">

    <p class="contact">About Us</p>
    <p style="color:aliceblue; font-size:50px">Make My journey</p>

    <p>
        “Travel is the main thing you purchase that makes you more extravagant”.
        We, at ‘Make My journey’, swear by this and put stock in satisfying travel dreams that make
        you perpetually rich constantly.
    </p>

    </div>
