@{
    ViewBag.Title = "Contact";
}

<div class="n-city">
    <h3 class="contact">Contact Me</h3>

    <div class="contact-detail">
        201 Sunshine Avenuw<br />
        Viman nagar Pune<br />
        <abbr title="Phone">Phone:</abbr>
        8126492809



        <strong>Support:</strong>   <a href="mailto:Support@example.com">prashantourism33@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">PrashantMarketing@gmail.com</a>
    </div>
    
</div>
